body {
    background-image: url(./ignasi_pattern_s.png);
}

main {
    min-height: calc(100vh- 78px- 56px);
}

.serif {
    font-family: serif;
}

.navbar-brand {
    background-color:teal!important;
    color: white!important;
}

#Header {
    color: teal!important;
}

.border-top {
    border-width: 10px!important;
    border-color: teal!important;
}

#aboutMeImg {
    float:left!important;
    margin-right: 20px;
    margin-bottom: 20px;
}